#rounds-list .card {
  border-radius: 0.33em;
  box-shadow: 0 00 1rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: all ease 0.25s;
}
#rounds-list .card:hover {
  border-color: #4b48d6;
  box-shadow: 0 0 1rem rgba(87, 85, 217, 0.33);
}
