* {
  box-sizing: border-box;
}

:root,
html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: auto;
  min-height: 100%;
}
